<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SID.Properties.Settings.sbi_salesdbConnectionString"
            connectionString="Data Source=SBI-SRV-04\SQLEXPRESS;Initial Catalog=sbi_salesdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SID.Properties.Settings.POTESTConnectionString" connectionString="Data Source=SBI-SRV-04\SQLEXPRESS;Initial Catalog=POTEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SID.Properties.Settings>
            <setting name="SMSMappings" serializeAs="String">
                <value>A,C,D,E,F,H,I,J,K,L,M,P,G</value>
            </setting>
            <setting name="InstallScheduleLocation" serializeAs="String">
                <value>R:\installation schedule\current install schedule.xlsx</value>
            </setting>
            <setting name="TempFileDirectory" serializeAs="String">
                <value>C:\SID\TempFiles</value>
            </setting>
            <setting name="InstallMappings" serializeAs="String">
                <value>A,K,I,AR,BG,AQ,BC</value>
            </setting>
            <setting name="InstallRows" serializeAs="String">
                <value>8,200</value>
            </setting>
            <setting name="DefaultItemStatus" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SMSRootPath" serializeAs="String">
                <value>R:\Stock, budgets etc</value>
            </setting>
            <setting name="sqlPOItemsMapping" serializeAs="String">
                <value>StockOrJob,JobItemID,Room,ProductType,Item,ProductCode,Description,Colour,Dimensions,Quantity,UnitPrice,SOPID,SupplierID</value>
            </setting>
            <setting name="SMSAddColumns" serializeAs="String">
                <value>O,SMSStatus;B,OtherInfo</value>
            </setting>
            <setting name="ImportFrozenColumn" serializeAs="String">
                <value>ProductCode</value>
            </setting>
            <setting name="ImportColumnWidths" serializeAs="String">
                <value>100,100,100,100,100,100,100,100,100,100,100</value>
            </setting>
            <setting name="ImportColumnOrders" serializeAs="String">
                <value>SMSStatus,1;ItemStatusID,2;ProductType,3;ItemAreaID,4;SupplierID,5;SOPID,6;OtherInfo, 18;OrderEarly,19</value>
            </setting>
            <setting name="DefaultSAGEID" serializeAs="String">
                <value>MISC3</value>
            </setting>
            <setting name="DefaultTaxCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultNominal" serializeAs="String">
                <value>41100</value>
            </setting>
            <setting name="SqlInstallMappings" serializeAs="String">
                <value>SOPID,InstallID,InstallDate,OriginalInstallDate,RAG,InstallNumber,OpsDate</value>
            </setting>
            <setting name="InstallSheetNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoImportInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SiteAddressColumn" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="ShowbizAddress" serializeAs="String">
                <value>Show Business Interiors,Unit 1 Millbuck Way,Moston Road,Sandbach,Cheshire,CW11 3GQ</value>
            </setting>
            <setting name="DocuwareSaveLocation" serializeAs="String">
                <value>U:\sapos\pdf</value>
            </setting>
            <setting name="AdeptSaveLocation" serializeAs="String">
                <value>U:\sapos\csv</value>
            </setting>
            <setting name="POColumnWidths" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="POColumnOrders" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="POFrozenColumn" serializeAs="String">
                <value>SOPID</value>
            </setting>
            <setting name="CarriageNominal" serializeAs="String">
                <value>51100</value>
            </setting>
        </SID.Properties.Settings>
    </userSettings>
</configuration>